* {
	font-family: "Trebuchet MS";
}

/* overrides bootstrap */
.container-fluid {
	padding: 0px !important;
}

h1 {
	font-size: 60px;
}

h1, h3 {
	text-shadow: 1px 0px 25px #262626;
}

h5 {
	font-weight: bold;
	margin-bottom: 0px;
}

ul {
	margin-bottom: 0px;
}

div#staff img {
    opacity: 0.8;
    margin-top: 10px;
    margin-left: 20x;
    margin-right: 20px;
    margin-bottom: 10px;
    border-radius: 50%;
    height: 120px;
    width: 120px;
}

div#staff img:hover {
    opacity: 1;
    /*i think nindut tanawn ni kung mag div haha
    height: 122px;
    width: 122px;*/
}

td {
    text-align:center; 
    vertical-align:middle;
}

div#navigation > .list-inline > li {
	padding-left: 15px;
	padding-right: 15px;
	border: 5px solid #333;
}

.nav {
	background-color: #333;
	background-image: none;
	background-repeat: no-repeat;
	border: 0px;
	border-radius: 0px;
	border-color: transparent;
	box-shadow: none;
	margin-bottom: 0px;
	padding: 14px;

	position: absolute;
	width: 100%;
	bottom: 0px;
}

blockquote {
	margin: 0px;
}

blockquote footer {
	color: #ccc;
}

html, body,
.full-screen {
	height: 100%;
	color: #efefef;
}

div#home {
	height: 91%;
	/*background-image: none;*/
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-position: center;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}

div#about {
	background-color: #006064;
}

div#history {
	background-color: #009688;
}

div#services {
	background-color: #558b2f;
}

div#staff {
	background-color: #4caf50;
}

div#about,
div#history,
div#services,
div#staff {
	height: 100.5%;
}

div.spacer {
	min-height: 10%;
}

div.half-spacer {
	min-height: 5%;
}

.active {
	border-top: 5px solid #efefef !important;
}

.blue-border {
	border-color: #1a237e;
}

.green-border {
	border-color: #43a047;
}

.yellow-border {
	border-color: #ffeb3b;
}

.brown-border {
	border-color: #3e2723;
}

.pink-border {
	border-color: #e91e63;
}

.max-pad-left {
	margin-left: 25%;
}

.max-pad-right {
	margin-right: 31%;
}
